/* ====== CASE STYLES ====== */
.project-section {
	padding-bottom: var(--size-2);
}

.case-title {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	color: var(--color-blue);
	margin: 0;
}

.case-section {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	line-height: 1.4;
	color: var(--color-blue);
	margin: 0;
}

h3{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}

p{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-black);
	max-width: 34ch;
	text-wrap: pretty;
}

/* ========== PHOTOGRAPHY HERO ========== */
.project-page {
	padding: calc(var(--header-height) + var(--size-1)) var(--size-1) var(--size-1);
}

.project-hero{
	margin-bottom: var(--size-3);
}

.project-head {
	padding-top: var(--size-1);
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--size-1);
}

.case-close {
	font-family: var(--font-1);
	font-size: var(--nav-size);
	font-weight: 400;
	color: var(--color-blue);
	background: var(--color-beige);
	padding: var(--size-0);
	border-radius: var(--size-0);
	text-decoration: none;
	white-space: nowrap;
}

.project-intro {
	font-size: var(--size-1);
	line-height: 1.6;
	max-width: 32ch;
	padding: 0;
	margin: 0;
}

/* ========== PROJECT DETAILS ========== */
.project-meta {
	display: grid;
	grid-template-columns: repeat(3, minmax(0,1fr));
	gap: var(--size-1);
	align-items: start;
	padding-bottom: var(--size-1);
}

.meta-item {
	display: grid;
	gap: 4px;
	align-content: start;
	justify-items: start;
	text-align: left;
}

.project-subhead{
	font-family: var(--font-1);
	font-size: var(--nav-size);
	font-weight: 400;
	color: var(--color-blue);
	margin: 0;
}

.project-meta dd {
	margin: 0;
	line-height: 1.4;
}

.intro-questions{
	font-style: italic;
	color: var(--color-dark-gray);
	display: block;
	margin-bottom: var(--size-3);
}

/* ========== PROJECT PROBLEM ========== */
.research-questions {
	list-style-type: disc;
	padding-left: var(--size-1);
	margin: 0;
}

.research-questions li{
	margin-bottom: var(--size-0);
	line-height: 1.6;
}

/* ========== MARKET ANALYSIS ========== */
.analysis {
	display: grid;
	gap: var(--size-1);
}

.company {
	display: grid;
	gap: var(--size-1);
	padding: var(--size-1);
	background: var(--color-beige);
	border-radius: var(--size-0);
}

/*.company-photo {
	width: 100%;
	max-width: 120px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: var(--size-0);
}*/

.company-title, .company-insight {
	display: grid;
	gap: 4px;
}

.company-name{
	font-family: var(--font-1);
	font-size: calc(1.2*var(--size-1));
	font-weight: 600;
	color: var(--color-blue);
	margin: var(--size-0) 0;
}

.company-desc {
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	color: var(--color-dark-gray);
	text-wrap: pretty;
}

.company-insight h4 {
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}

.company-insight-list {
	list-style-type: disc;
	padding-left: var(--size-1);
	margin: var(--size-0) 0;
	line-height: 1.6;
	text-wrap: pretty;
}

/* ========== KEY INSIGHTS ========== */
.key-insight {
	list-style-type: disc;
	padding-left: var(--size-1);
	margin: 0;
}

.key-insight li{
	margin-bottom: var(--size-0);
	line-height: 1.6;
}

/* ========== LOW FIDELITY ========== */
.flow {
	display: grid;
	gap: var(--size-0);
	padding: var(--size-2) 0;
	border-bottom: 1px solid var(--color-gray);
}

.flow h3 {
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-black);
	margin: 0;
	background: var(--color-gray);
	padding-inline: calc(.5*var(--size-0));
	display: inline-flex;
	justify-self: start;
}

.flow h4 {
	font-family: var(--font-1);
	font-size: calc(1.25 * var(--size-1));
	font-weight: 600;
	line-height: 1.3;
	color: var(--color-blue);
	margin: 0;
}

.flow p {
	text-wrap: pretty;
	padding-top: var(--size-0);
	margin: 0;
}

/* ========== PROJECT BRANDING ========== */
.branding {
	display: grid;
	gap: var(--size-0);
	padding: var(--size-2) 0;
	border-bottom: 1px solid var(--color-gray);
}

.branding p {
	text-wrap: pretty;
	margin: 0;
}

/* ========== PROJECT FINAL ========== */
.feature-list {
	display: grid;
	gap: var(--size-2);
}

.feature {
	display: grid;
	gap: var(--size-0);
	padding-bottom: var(--size-0);
	border-bottom: 1px solid var(--color-gray);
}

.feature p {
	margin: 0;
}

.flow:last-child,
.feature:last-child {
	border-bottom: none;
}