/* ========== PRIMARY HERO ========== */
.project-page {
	padding: calc(var(--header-height) + var(--size-1)) var(--size-1) var(--size-1);
}

.project-hero{
	padding-bottom: var(--size-2);
}

.project-head {
	padding: var(--size-1) 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: var(--size-1);
}

.project-title {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	line-height: 1;
	color: var(--color-blue);
	margin: 0;
}

.case-close {
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	background: var(--color-beige);
	padding: var(--size-0);
	border-radius: var(--size-0);
	text-decoration: none;
	white-space: nowrap;
}

.project-intro {
	padding: 0;
}

.project-intro p {
	font-size: var(--size-1);
	line-height: 1.6;
	max-width: 32ch;
	margin: 0;
}

.project-meta {
	display: grid;
	grid-template-columns: repeat(3, minmax(0,1fr));
	gap: var(--size-1);
	align-items: start;
}

.project-meta p {
	margin: 0;
	line-height: 1.4;
}

.meta-item {
	display: grid;
	gap: 4px;
	align-content: start;
	justify-items: start;
	text-align: left;
}

.project-subhead {
	font-family: var(--font-2);
	font-size: var(--nav-size);
	font-weight: 500;
	color: var(--color-dark-gray);
	margin: 0;
}

.interviewee,
.sketches,
.flow,
.test {
	display: grid;
	gap: var(--size-1);
	padding: var(--size-1) 0;
	border-bottom: 1px solid var(--color-gray);
}

/* ========== PROJECT DETAILS ========== */
.project-section {
	padding-bottom: var(--size-2);
}

.project-section h2 {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	color: var(--color-blue);
	margin: 0;
}

.project-section h3 {
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 400;
	color: var(--color-dark-gray);
	margin: 0;
}

.project-section h4 {
	font-family: var(--font-2);
	font-size: var(--nav-size);
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-blue);
	margin: 0 0 var(--size-0);
}

.project-section p{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-black);
	max-width: 34ch;
	margin: 0 0 var(--size-1);
}

.project-section em{
	font-style: italic;
	color: var(--color-dark-gray);
}

.project-section ul {
	list-style-type: disc;
	padding-left: var(--size-1); 
	margin: 0;
	}

/* ========== PROJECT PROBLEM ========== */
/* ========== PROJECT INTERVIEWS ========== */
.interviewee-name h3{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}