/* ====== CASE STYLES ====== */
.project-section {
	padding-bottom: var(--size-2);
}

.case-title {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	color: var(--color-blue);
	margin: 0;
}

.case-section {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	line-height: 1.4;
	color: var(--color-blue);
	margin: 0;
}

h3{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}

p{
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	line-height: 1.6;
	color: var(--color-black);
	max-width: 34ch;
	text-wrap: pretty;
}

/* ========== PRIMARY HERO ========== */
.project-page {
	padding: calc(var(--header-height) + var(--size-1)) var(--size-1) var(--size-1);
}

.project-hero{
	margin-bottom: var(--size-3);
}

.project-head {
	padding: var(--size-1) 0 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: var(--size-1);
}

.project-title {
	font-family: var(--font-1);
	font-size: var(--size-2);
	font-weight: 600;
	line-height: 1;
	color: var(--color-blue);
	margin: 0;
}

.case-close {
	font-family: var(--font-1);
	font-size: var(--nav-size);
	font-weight: 400;
	color: var(--color-blue);
	background: var(--color-beige);
	padding: var(--size-0);
	border-radius: var(--size-0);
	text-decoration: none;
	white-space: nowrap;
}

.project-intro {
	font-size: var(--size-1);
	line-height: 1.6;
	max-width: 32ch;
	padding: 0;
	margin: 0;
}

/* ========== DETAILS ========== */
.project-meta {
	display: grid;
	grid-template-columns: repeat(3, minmax(0,1fr));
	gap: var(--size-1);
	align-items: start;
	padding-bottom: var(--size-1);
}

.meta-item {
	display: grid;
	gap: 4px;
	align-content: start;
	justify-items: start;
	text-align: left;
}

.project-subhead{
	font-family: var(--font-1);
	font-size: var(--nav-size);
	font-weight: 400;
	color: var(--color-blue);
	margin: 0;
}

.project-meta dd {
	margin: 0;
	line-height: 1.4;
}

.intro-questions{
	font-style: italic;
	color: var(--color-dark-gray);
	display: block;
	margin-bottom: var(--size-3);
}

/* ========== PROBLEM ========== */
.research-questions {
	list-style-type: disc;
	padding-left: var(--size-1);
	margin: 0;
}

.research-questions li{
	margin-bottom: var(--size-0);
	line-height: 1.6;
}

/* ========== USER INTERVIEWS ========== */
.interviews{
	display: grid;
	gap: var(--size-1);
}

.interviewee {
	display: grid;
	gap: var(--size-1);
	padding: var(--size-1);
	background: var(--color-beige);
	border-radius: var(--size-0);
}

.interviewee-header {
	display: grid;
	grid-template-columns: 1fr 96px;
	gap: var(--size-1);
	align-items: start;
}

.interviewee-title {
	display: grid;
	gap: 4px;
}

.interviewee-name {
	font-family: var(--font-1);
	font-size: calc(1.2 * var(--size-1));
	font-weight: 600;
	color: var(--color-blue);
	margin: 0;
}

.interviewee-desc {
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	line-height: 1.4;
	color: var(--color-black);
	margin: 0;
}

.interviewee-image {
	width: var(--size-7);
	aspect-ratio: 1 / 1;
	overflow: hidden;
	border-radius: var(--size-0);
}

.interviewee-photo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.interview-quote p{
	font-family: var(--font-1);
	font-style: italic;
	color: var(--color-dark-gray);
	text-wrap: pretty;
}

.interview-insight h4,
.interview-hmw h4 {
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-blue);
	margin: 0;
}

.interview-insight,
.interview-hmw {
	display: grid;
	gap: 4px;
}

/* ========== IDEATION ========== */
.sketch-gallery {
	display: flex;
	gap: var(--size-1);
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	padding-bottom: var(--size-1);
	-webkit-overflow-scrolling: touch;
}

.sketch-card {
	flex: 0 0 85%;
	scroll-snap-align: start;
	display: grid;
	gap: var(--size-1);
	padding: var(--size-1);
	background: var(--color-beige);
	border-radius: var(--size-0);
}

.sketch-image {
	width: 100%;
	aspect-ratio: 3 / 2;
	overflow: hidden;
	border-radius: var(--size-0);
	background: var(--color-light-gray);
}

.sketch-image img {
	width: 100%;
	height: 100%;
	display: block;
}

.sketch-card h3 {
	font-family: var(--font-1);
	font-size: var(--size-1);
	font-weight: 400;
	line-height: 1.4;
	text-wrap: pretty;
	color: var(--color-blue);
	margin: 0;
}

.sketch-card p {
	margin: 0;
}

/* ========== LOW FIDELITY ========== */
.flow {
	display: grid;
	gap: var(--size-0);
	padding: var(--size-2) 0;
	border-bottom: 1px solid var(--color-gray);

}

.flow h3 {
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-black);
	margin: 0;
	background: var(--color-gray);
	padding-inline: calc(.5*var(--size-0));
	display: inline-flex;
	justify-self: start;
}

.flow h4 {
	font-family: var(--font-1);
	font-size: calc(1.25 * var(--size-1));
	font-weight: 600;
	line-height: 1.3;
	color: var(--color-blue);
	margin: 0;
}

.flow p {
	text-wrap: pretty;
	margin: 0;
}

/* ========== TESTING ========== */
.test {
	display: grid;
	gap: var(--size-0);
	padding: var(--size-2) 0;
	border-bottom: 1px solid var(--color-gray);
}

.test h3 {
	font-family: var(--font-2);
	font-size: var(--size-1);
	font-weight: 500;
	color: var(--color-black);
	margin: 0;
	background: var(--color-gray);
	padding-inline: calc(.5*var(--size-0));
	display: inline-flex;
	justify-self: start;
}

.test h4 {
	font-family: var(--font-1);
	font-size: calc(1.25 * var(--size-1));
	font-weight: 600;
	line-height: 1.3;
	color: var(--color-blue);
	margin: 0;
}

.test p {
	text-wrap: pretty;
	margin: 0;
}

/* ========== FINAL ========== */
.feature-list {
	display: grid;
	gap: var(--size-2);
}

.feature {
	display: grid;
	gap: var(--size-0);
	padding-bottom: var(--size-0);
	border-bottom: 1px solid var(--color-gray);
}

.feature p {
	margin: 0;
}

.flow:last-child,
.test:last-child,
.feature:last-child {
	border-bottom: none;
}